extends _layouts/home

block head_end
  link(rel='stylesheet', href='static/css/owlcarousel/owl.carousel.min.css')
  link(rel='stylesheet', href='static/css/owlcarousel/owl.theme.default.min.css')
  link(rel='stylesheet', href='static/css/font-awesome/css/font-awesome.min.css')
  link(rel="stylesheet" href="static/css/style.css")
  script(type='text/javascript')
  script(src='static/js/jquery-3.2.1.min.js')
  script(type='text/javascript').
    if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}


block content
  include _partials/header-big
  include _partials/index-page
  include _partials/footer
  
  <!-- SCRIPTS -->
block body_end
  script(src='static/js/jquery-migrate-3.0.1.min.js')
  script(src='static/js/ext/jquery.fancybox.min.js')
  script(src='static/js/ext/owl.carousel.min.js')
  script(src='static/js/ext/TweenMax.min.js')
  script(src='static/js/ext/animate-scroll.js')
  script(src='static/js/ext/jquery.animateNumber.min.js')
  script(src="static/js/script.js")