.page.page-404
  .container
    .page-404__thumb
      img(src='static/i/bg__404.png').page-404__thumb-img
    h2 Страница не найдена
    p Вы неправильно набрали адрес. Возможно такой страницы больше не существует. Вы можете перейти на 
      a(href="#l") главную страницу
      |  или воспользоваться картой сайта.
    h3 Карта сайта:
    ul
      li
        a(href="#l") Главная
      li
        a(href="#l") О нас
      li
        a(href="#l") Статьи
      li
        a(href="#l") Команда
      li
        a(href="#l") Каталог услуг
        ul
          li
            a(href="#l") Предоставление вагонов зерновозов под погрузку
          li
            a(href="#l") Оплата ЖД тарифа в любой стране
          li
            a(href="#l") Услуги грузоотправителя
          li
            a(href="#l") Трейдинг
      li
        a(href="#l") Вопрос-ответ
      li
        a(href="#l") Отзывы
      li
        a(href="#l") Контакты
