.page
  .page__header.page-articles__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Статьи
  .container
    .page-articles__list
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-1.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-2.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи в три строки, чтобы показать межстрочное расстояние
        .page-articles__item-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. 
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-3.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-4.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи о зерновозах
        .page-articles__item-desc Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-5.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-6.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи в три строки, чтобы показать межстрочное расстояние
        .page-articles__item-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. 
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-7.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-8.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
    include paginator