.page
  .page__header.page-contacts__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Контакты
  .page-contacts
    img(src="img/bg__company.png").bg-img.page-contacts__bg-img
    .container
      .infoblock.page-contacts__infoblock
        h3 Штаб квартира НТК
        .infoblock__row
          .infoblock__row-ico.ico-address
          .infoblock__row-content г. Екатеринбург, ул. Малышева, 51, этаж 43, офис 02
          .infoblock__row-content БЦ «Высоцкий» является самым северным небоскребом мира. Высота гордости Екатеринбурга — 188,3 м.
        .infoblock__row
          .infoblock__row-ico.ico-phone
          .infoblock__row-content
            | Москва +7 499 348 13 20<br>
            | Екатеринбург +7 343 351 76 80<br>
            | Казахстан (Алматы) +7(727)350 81 03
  .b-contacts
    #map-ekb
    .container
      form.page-contacts__form
        h3 Обратная связь
        label.page-form__label
          span Ваше имя
            sup *
          input.page-form__input(type='text', data-req='req')
        label.page-form__label
          span Ваш E-mail
            sup *
          input.page-form__input(type='email', data-req='req')
        label.page-form__label
          span Ваш вопрос
            sup *
          textarea(rows='2', data-type='text', data-req='req').page-form__textarea
        .form__row <sup>*</sup> — поля обязательные для заполнения
        input#cb-2.checkbox.checkbox_front(type='checkbox' checked)
        label.page-form__label_dark.page-form__check(for='cb-2')
          | Согласен на обработку 
          a.link.link_dark(href='#') персональных данных
        .page-form__error
          input(type='submit' value="Отправить").btn
          .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
        
// GOOGLE MAPS
script(src='static/js/g-maps.js')
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')

