.page
  .page__header.page-faq__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Вопросы и ответы
  .container
    .page__content.page__content_first
      .page-faq__list
        .page-faq__item
          .page-faq__item-title На Вашем сайте указано, что Вы помогаете с поиском надежных поставщиков и покупателей на железной дороге. Как это выглядит?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.
        .page-faq__item
          .page-faq__item-title Я из Казахстана, какой смысл обращаться в российскую компанию?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и акт
        .page-faq__item.page-faq__item_active
          .page-faq__item-title Какие гарантии того, что вы качественно оказываете услуги?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, ес
        .page-faq__item
          .page-faq__item-title Вы можете погрузить мой груз в вагоны?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.
        .page-faq__item
          .page-faq__item-title Какие вагоны вы предоставляете?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов.
            
    .page__sidebar
      .sidebar-col.sidebar-col_light
        h3 Задать вопрос
        form
          label.page-form__label
            span Ваше имя
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Ваш E-mail
              sup *
            input.page-form__input(type='email', data-req='req')
          label.page-form__label
            span Ваш вопрос
              sup *
            textarea(rows='2', data-type='text', data-req='req').page-form__textarea
          .form__row <sup>*</sup> — поля обязательные для заполнения
          input#cb-2.checkbox.checkbox_front(type='checkbox')
          label.page-form__label_dark.page-form__check(for='cb-2')
            | Согласен на обработку 
            a.link.link_dark(href='#') персональных данных
          .page-form__error
            input(type='submit' value="Отправить").btn
            .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
    include paginator