footer.footer
  .footer__nav
    .container
      ul.menu-bar
        li.menu-bar__item
          a(href="#link-m").menu-bar__link.menu-bar__link_current о нас
        li.menu-bar__item
          a(href="#link-m").menu-bar__link команда
        li.menu-bar__item
          a(href="#link-m").menu-bar__link контакты
        li.menu-bar__item
          a(href="#link-m").menu-bar__link услуги
        li.menu-bar__item
          a(href="#link-m").menu-bar__link зерновоз
        li.menu-bar__item
          a(href="#link-m").menu-bar__link отзывы
        li.menu-bar__link.menu-bar__helper
  .container.footer__bottom
    .footer__col-first
      .cr © ООО «НТК» — 2015-2017
      a(href="#mobile-v").m-version
        i.fa.fa-mobile(aria-hidden='true')
        span Мобильная версия
    .footer__col-contacts
      p Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,
      p Казахстан (Алматы) +7 727 350 81 02
      p Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02
    .footer__col-sitedev
      a(href="https://dextra.ru").sitedev
        span Разработка сайта: 
        span Интернет-агентство Dextra

