header.header
  .menu-toggle
    span
    a(href="#l").bt
  a(href="#index").logo.header__logo
    .logo__desc Национальная транспортная компания
  .header__trigger
    a(href="tel:+78002222222").tel 8 800 2222 222
    button.btn.js-consult Узнать больше
  .main-nav
    ul.main-menu
      li.main-menu__item
        a(href="#linka").main-menu__link.main-menu__link_current О нас
      li.main-menu__item
        a(href="#linka").main-menu__link Команда
      li.main-menu__item
        a(href="#linka").main-menu__link Контакты
      li.main-menu__item
        a(href="#linka").main-menu__link Услуги
      li.main-menu__item
        a(href="#linka").main-menu__link Зерновоз
      li.main-menu__item
        a(href="#linka").main-menu__link Отзывы
    .social-nets.main-menu__social-nets
      a(href="#l" aria-hidden='true').social-ico.ico-insta.fa.fa-instagram
      a(href="#l" aria-hidden='true').social-ico.ico-fb.fa.fa-facebook
      a(href="#l" aria-hidden='true').social-ico.ico-vk.fa.fa-vk
      a(href="#l" aria-hidden='true').social-ico.ico-wu.fa.fa-whatsapp
      a(href="#l" aria-hidden='true').social-ico.ico-li.fa.fa-linkedin
      a(href="#l" aria-hidden='true').social-ico.ico-yt.fa.fa-youtube
    .main-menu__sitedev
      a(href="https://dextra.ru").sitedev
        span Разработка сайта: 
        span Интернет-агентство Dextra