header.header.header-big
  .menu-toggle
    span
    button.btn.header-big__btn-start(href='#l') Пуск
  a.logo.header__logo(href='#index')
    .logo__desc Национальная транспортная компания
  .header__trigger
    a.tel(href='tel:+78002222222') 8 800 2222 222
    button.btn.js-consult Узнать больше
  .main-nav
    ul.main-menu
      li.main-menu__item
        a.main-menu__link.main-menu__link_current(href='#linka') О нас
      li.main-menu__item
        a.main-menu__link(href='#linka') Команда
      li.main-menu__item
        a.main-menu__link(href='#linka') Контакты
      li.main-menu__item
        a.main-menu__link(href='#linka') Услуги
      li.main-menu__item
        a.main-menu__link(href='#linka') Зерновоз
      li.main-menu__item
        a.main-menu__link(href='#linka') Отзывы
    .social-nets.main-menu__social-nets
      a.social-ico.ico-insta.fa.fa-instagram(href='#l', aria-hidden='true')
      a.social-ico.ico-fb.fa.fa-facebook(href='#l', aria-hidden='true')
      a.social-ico.ico-vk.fa.fa-vk(href='#l', aria-hidden='true')
      a.social-ico.ico-wu.fa.fa-whatsapp(href='#l', aria-hidden='true')
      a.social-ico.ico-li.fa.fa-linkedin(href='#l', aria-hidden='true')
      a.social-ico.ico-yt.fa.fa-youtube(href='#l', aria-hidden='true')
    .main-menu__sitedev
      a.sitedev(href='https://dextra.ru')
        span Разработка сайта: 
        span Интернет-агентство Dextra
