.slogan
  .slogan__item Скорость
  .slogan__item Ответственность
  .slogan__item Открытость
main
  //- Главный слайдер
  .main-crsl.owl-carousel
    .main-crsl__item
      .main-crsl__wrapper
      img(src="img/main-sl-1.png").main-crsl__img
      .main-crsl__inner
        .main-crsl__title ЖД перевозки зерновых культур
        .main-crsl__desc по России, Казахстану, странам СНГ и Балтии
        a(href="#product-capacity").btn.js-anchor Мне нужен вагон-зерновоз
    .main-crsl__item
      img(src="img/main-sl-2.png").main-crsl__img
      .main-crsl__inner
        .main-crsl__title РАСЧЕТ ЦЕН – ДО 17 МИНУТ
        .main-crsl__desc ПРЕДОСТАВЛЕНИЕ ВАГОНОВ – ДО 7 ДНЕЙ
        button.js-consult.btn Получить бесплатную консультацию
    .main-crsl__item
      .main-crsl__wrapper
      img(src="img/main-sl-1.png").main-crsl__img
      .main-crsl__inner
        .main-crsl__title ЧЕК-ЛИСТ – экономим до 50% стоимости перевозки<br>еще до старта вагонов
        .main-crsl__desc Прямая работа со станциями – от 3 до 7 дней уменьшаем сроки движения вагонов
        button.js-consult.btn Получить бесплатную консультацию
    .main-crsl__item
      .main-crsl__wrapper
      img(src="img/main-sl-2.png").main-crsl__img
      .main-crsl__inner
        .main-crsl__title Даем статистику РЖД – 20% наших партнеров<br>находят новый закуп, сбыт
        .main-crsl__desc Прямые контакты менеджеров – на связи 24 часа
        button.js-consult.btn Получить бесплатную консультацию
  a(href="#next").mouse.js-anchor
  .section-header#next
    h2.section-title Наши услуги
    .section-desc Глубоко зная рынок, мы оказываем все необходимые услуги, которые позволяют Вам осуществлять перевозку наиболее эффектно
  //- Наши услуги
  .container
    .service-list
      a(href='#l').service-item
        .service-item__img
          img(src="static/i/ico-service-1.png")
        .service-item__title Предоставляем вагоны зерновозы
        .service-item__desc Привлеченный парк зерновозов более 24 000 единиц.
      a(href='#l').service-item
        .service-item__img
          img(src="static/i/ico-service-2.png")
        .service-item__title Оплачиваем ЖД тарифы в 13 странах
        .service-item__desc Для наших партнеров — без комиссии.
      a(href='#l').service-item
        .service-item__img
          img(src="static/i/ico-service-3.png")
        .service-item__title Оказываем услуги грузоотправителя
        .service-item__desc 227 станций работы в России и Казахстане.
      a(href='#l').service-item
        .service-item__img
          img(src="static/i/ico-service-4.png")
        .service-item__title Доставляем от хозяйства конечному покупателю
        .service-item__desc Организуем мультимодальные перевозки.
      a(href='#l').service-item
        .service-item__img
          img(src="static/i/ico-service-5.png")
        .service-item__title Помогаем найти сбыт или закуп зерновых культур
        .service-item__desc Мы советуем только проверенные компании и наиболее близкие по местоположению.
  //- Наши клиенты
  .b-clients
    .strong.centered Наши клиенты
    .crsl-bar.owl-carousel
      .crsl-bar__item
        img(src="static/i/makfa.png")
      .crsl-bar__item
        img(src="static/i/nexus.png")
      .crsl-bar__item
        img(src="static/i/avant-express.png")
      .crsl-bar__item
        img(src="static/i/r-group trans.png")
      .crsl-bar__item
        img(src="static/i/top-grein.png")
      .crsl-bar__item
        img(src="static/i/transporter.png")
      .crsl-bar__item
        img(src="static/i/tandem-agro.png")
  //- География работы
  .section-header
    h2.section-title География работы
    .section-desc Карта перевозок и основных направлений
  .geo-map
    #geo-map
  //- Наши преимущества
  .b-advantages.centered
    .section-header
      h2.section-title Наши преимущества
      .section-desc Мы меняем рынок в лучшую сторону, делая сделки прозрачнее, а логитсику эффективнее
    .small Три кита, на которых основан дух компании наша Конституция.
    .container.b-advantages__arrows
      .b-arrow
        .b-arrow__ico.fa.fa-rocket(aria-hidden='true')
        .b-arrow__title Оперативность
      .b-arrow
        .b-arrow__ico
          img(src="../static/i/ico-book.png")
        .b-arrow__title Открытость
      .b-arrow
        .b-arrow__ico.fa.fa-check-circle(aria-hidden='true')
        .b-arrow__title Ответственность
    .upper-text Наша репутация и опыт — Ваше ключевое преимущество, но есть ещё
  .advantages-list
    .advantage(data-animate-scroll='{"x": "-200"}')
      .advantage__container
        .advantage__img
          img(src="static/i/ico-advantage-1.png")
        .strong.advantage__title Быстрая подача вагонов
        .text_size_xs Мы видим все вагоны в радиусе 1000 км от Вашей станции и подаём ближайшие.
    .advantage(data-animate-scroll='{"x": "200"}')
      .advantage__container
        .advantage__img.advantage__img_right
          img(src="static/i/ico-advantage-2.png")
        .strong.advantage__title Расчет за 17 минут любого направления
        .text_size_xs Время самый недооцененный фактор — мы понимаем это, поэтому для Вас мы стали №1 в скорости предоставления ставок.
    .advantage(data-animate-scroll='{"x": "-200"}')
      .advantage__container
        .advantage__img
          img(src="static/i/ico-advantage-3.png")
        .strong.advantage__title Личные контакты
        .text_size_xs Мы 24 часа на связи для решения профильных вопросов.
    .advantage(data-animate-scroll='{"x": "200"}')
      .advantage__container
        .advantage__img.advantage__img_right
          img(src="static/i/ico-advantage-4.png")
        .strong.advantage__title ЖД статистика перевозок
        .text_size_xs Предоставляем только действительные перевозки зерновых культур и реальных грузоотправителей и грузополучателей.
    .advantage(data-animate-scroll='{"x": "-200"}')
      .advantage__container
        .advantage__img
          img(src="static/i/ico-advantage-5.png")
        .strong.advantage__title Системы автоматизации
        .text_size_xs Чек-лист, CRM, ЭТРАН, Cargo, Rai и многие другие инструменты, которые позволили нам выполнять свою работу эффективнее, а Вы смогли сконцентрироваться на Вашем бизнесе.
  //- Этапы работы
  .section-header
    h2.section-title Этапы работ
    .section-desc Из чего состоит перевозка? Описание этапов
  .work-steps.centered
    .container
      .work-steps__item.work-steps__item-1
        .work-step 1
          .work-step__title Старт
        .work-step__content
          .work-step__content-title Старт
          .work-step__content-desk Вы даете нам вводные по перевозке
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Чем точнее Вы знаете все параметры перевозки, включая станции, объем груза и бюджет, тем более оптимальное предложение мы сможем Вам сделать.
      .work-steps__item.work-steps__item-2
        .work-step 2
          .work-step__title Цена за 15 минут
        .work-step__content
          .work-step__content-title Цена за 15 минут
          .work-step__content-desk За 15 минут мы даем Вам предварительную ставку.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Предварительные ставки – это статистическая модель, построенная на постоянно растущем объеме данных о рынке на основании нашего опыта перевозок и ценообразования. Погрешность таких ставок минимальна. На начало 2016 года мы даем предварительные ставки за 15 минут по 86% направлений, и с каждым месяцем этот показатель растет.
      .work-steps__item.work-steps__item-3
        .work-step 3
          .work-step__title Реквизиты
        .work-step__content
          .work-step__content-title Реквизиты
          .work-step__content-desk Получаем от Вас реквизиты для договора.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Чем более оперативно мы получим от Вас точные реквизиты Вашей компании, тем раньше сможем начать заботиться о Вашем грузе
      .work-steps__item.work-steps__item-4
        .work-step 4
          .work-step__title Документы
        .work-step__content
          .work-step__content-title Документы
          .work-step__content-desk Вы направляете нам подписанный договор и заявку на перевозку.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Пожалуйста, внимательно ознакомьтесь с каждым полем в заявке на перевозку, так как именно этим документом руководствуются наши сотрудники при выборе подходящего Вам подвижного состава и сроков его заадресовки.
      .work-steps__item.work-steps__item-5
          .work-step 5
            .work-step__title Фиксация цены
          .work-step__content
            .work-step__content-title Фиксация цены
            .work-step__content-desk Мы фиксируем цену перевозки в счете и получаем оплату.
            b.work-step__content-desk Что важно на этом этапе?
            .work-step__content-desk Чем более оперативно мы закрываем финансовые вопросы, тем быстрее мы переходим к заадресовке вагонов под Ваш груз.
      .work-steps__item.work-steps__item-6
        .work-step 6
          .work-step__title ГУ-12
        .work-step__content
          .work-step__content-title ГУ-12
          .work-step__content-desk Мы сообщаем Вам данные вагонов, и Вы согласуете заявку ГУ-12.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Чем более корректно и оперативно Вы создадите и согласуете ГУ-12, тем раньше мы сможем заадресовать Вам вагоны.
      .work-steps__item.work-steps__item-7
        .work-step 7
          .work-step__title Заадресовка
        .work-step__content
          .work-step__content-title Заадресовка
          .work-step__content-desk Вы направляете нам номер ГУ-12, и мы заадресовываем вагоны.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Нужно понимать, что вагоны всегда находятся в динамике, и факт заадресовки (наличия заготовки на порожний рейс), не всегда моментально приводит к началу движения вагонов, в особенности в случае, если между фиксацией цены и согласованием ГУ-12 прошло более 2 дней. Как правило, это связано с уходом вагонов с определенной станции, либо тем, что вагоны находятся под разгрузкой. В случае пересечения границы порожним вагоном также важно техническое состояние вагона и (редко) отсутствие новых конвенционных запретов на въезд определенных типов вагонов.
      .work-steps__item.work-steps__item-8
        .work-step 8
          .work-step__title Дислокация
        .work-step__content
          .work-step__content-title Дислокация
          .work-step__content-desk C момента заадресовки и до окончания перевозки мы каждодневно направляем Вам дислокацию всех вагонов.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Мы отслеживаем движение вагонов по всему СНГ, при этом важно понимать, что дислокация отражает не текущую геопозицию, а последнюю операцию железной дороги, произведенную с вагоном. По странам, кроме России, обновление последней операции может проходить с определенной задержкой.
      .work-steps__item.work-steps__item-9
        .work-step 9
          .work-step__title Погрузка
        .work-step__content
          .work-step__content-title Погрузка
          .work-step__content-desk Приход вагона на станцию отправ-ления, подача грузоотправителю и погрузка.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Грузоотправитель на станции должен обеспечить оперативную подачу вагонов на железнодорожный тупик во избежание штрафов за простой на путях общего пользования, а также погрузить вагоны согласно эскизу и оформить документы для станции.
      .work-steps__item.work-steps__item-10
        .work-step 10
          .work-step__title Отправка
        .work-step__content
          .work-step__content-title Отправка
          .work-step__content-desk Уборка вагона и его оформление на станции отправления, таможня.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk От грузоотправителя требуется успешное прохождение проверки погрузки вагона приемосдатчиками, оперативная уборка и оформление вагона на станции. В случае, если груз подпадает под таможенные процедуры, необходимо подготовить все заранее во избежание простоев вагона на станции. Также необходимо заведомо проверить наличие достаточного баланса на ЕЛС плательщика тарифа и наличия телеграмм (проплатных кодов) об оплате тарифов по всем государствам в случае международной перевозки.
      .work-steps__item.work-steps__item-11
        .work-step 11
          .work-step__title Рейс
        .work-step__content
          .work-step__content-title Движение/Рейс
          .work-step__content-desk По приезду нужного магистрального поезда вагоны включаются в его состав и начинают двигаться в направлении станции получения.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Чем точнее Вы знаете..
      .work-steps__item.work-steps__item-12
        .work-step 12
          .work-step__title Разгрузка
        .work-step__content
          .work-step__content-title Разгрузка
          .work-step__content-desk Вагон приходит на станцию получения, оформляются документы на получение груза, вагон подается на железнодорожный тупик грузополучателю
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Оперативная работа грузополучателя по раскредитовке и разгрузке вагона во избежание простоев вагона на станции. В случае международных перевозок крайне важно правильное указание реквизитов грузополучателя, а также готовность всех документов для прохождения таможенных процедур.
      .work-steps__item.work-steps__item-13
        .work-step 13
          .work-step__title Сдача порожнего вагона
        .work-step__content
          .work-step__content-title Сдача порожнего вагона
          .work-step__content-desk Грузополучатель сдает на станцию порожний вагон.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Необходимо заведомо получить от экспедитора инструкцию на порожний рейс вагона. В ином случае, возможны простои вагона на станции в ожидании отправления.
      .work-steps__item.work-steps__item-14
        .work-step 14
          .work-step__title Отчетные документы
        .work-step__content
          .work-step__content-title Отчетные документы
          .work-step__content-desk По окончании перевозки мы направляем Вам отчетные документы.
          b.work-step__content-desk Что важно на этом этапе?
          .work-step__content-desk Организованный обмен и проверка первичной документации для соблюдения всех формальностей.
  .work-steps__btn.centered
    button.js-consult.btn Заказать подробную консультацию
  //- Отзывы
  .b-reviews
    .section-header
      h2.section-title Отзывы о нашей работе
      .section-desc С нами сотрудничают более 320 компаний на территории России и стран СНГ
    .container
      .reviews-crsl.owl-carousel
        .reviews-crsl__item(data-review='1')
          .reviews-crsl__item-logo
            img(src="static/i/rif.png")
          b Рустам Гермиханов
          .text Начальник отдела логистики ООО «ТД РИФ»
          .reviews-crsl__img
            img(src="img/review.png")
          .reviews-crsl__item-link
            a(href="#linka").link Читать подробнее
        .reviews-crsl__item(data-review='2')
          .reviews-crsl__item-logo
            img(src="static/i/makfa.png")
          b Рустам Гермиханов
          .text Начальник отдела логистики ООО «ТД РИФ»
          .reviews-crsl__img
            img(src="img/review.png")
          .reviews-crsl__item-link
            a(href="#linka").link Читать подробнее
        .reviews-crsl__item(data-review='1')
          .reviews-crsl__item-logo
            img(src="static/i/top-grein.png")
          b Рустам Гермиханов
          .text Начальник отдела логистики ООО «ТД РИФ»
          .reviews-crsl__img
            img(src="img/review.png")
          .reviews-crsl__item-link
            a(href="#linka").link Читать подробнее
        .reviews-crsl__item(data-review='2')
          .reviews-crsl__item-logo
            img(src="static/i/rif.png")
          b Рустам Гермиханов
          .text Начальник отдела логистики ООО «ТД РИФ»
          .reviews-crsl__img
            img(src="img/review.png")
          .reviews-crsl__item-link
            a(href="#linka").link Читать подробнее
  //- Вместимость
  .container.product-capacity#product-capacity
    .section-header
      h2.section-title Вместимость продукции
      .section-desc Описание зерновозов и вместимости в зависимости от вида продукции
    .text.text_size_m Что везем?
    .tabs
      ul.tabs__list
        li.tabs__item.tabs__item_active Пшеница
        li.tabs__item Рапс
        li.tabs__item Овес
        li.tabs__item Шрот
        li.tabs__item Пшеница
        li.tabs__item Ячмень
        li.tabs__item Лен
        li.tabs__item Гречиха
        li.tabs__item Пшеница
        li.tabs__item Пшеница
      .tabs__content.active
        .product-item
          .product-item__img
            .product-item__img-label 68 т
            img(src="img/vagon-1.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 80 т
            img(src="img/vagon-2.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 76 т
            img(src="img/vagon-3.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 76 т
            img(src="img/vagon-4.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
      .tabs__content
        .product-item
          .product-item__img
            .product-item__img-label 68 т
            img(src="img/vagon-1.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 80 т
            img(src="img/vagon-2.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
      .tabs__content
        .product-item
          .product-item__img
            .product-item__img-label 68 т
            img(src="img/vagon-1.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 80 т
            img(src="img/vagon-2.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
        .product-item
          .product-item__img
            .product-item__img-label 80 т
            img(src="img/vagon-2.png")
          b.text_size_xs Инновационный вагон зерновоз
          .text_size_xs 76 тон, 120 м³
          a(href="#linka").btn Заказать
  //- Наша команда
  .b-team
    .container
      .section-header
        h2.section-title Наша команда
        .section-desc НТК — это мы!
      .b-team__list
        .b-team__item
          img(src="img/team-1.png").b-team__img
          b.text_size_xs Рустам Гермиханов
          .b-team__post Старший менеджер
        .b-team__item
          img(src="img/team-2.png").b-team__img
          b.text_size_xs Рустам Гермиханов
          .b-team__post Старший менеджер
        .b-team__item
          img(src="img/team-3.png").b-team__img
          b.text_size_xs Рустам Гермиханов
          .b-team__post Старший менеджер
        .b-team__item
          img(src="img/team-4.png").b-team__img
          b.text_size_xs Рустам Гермиханов
          .b-team__post Старший менеджер
        .b-team__item
          img(src="img/team-5.png").b-team__img
          b.text_size_xs Рустам Гермиханов
          .b-team__post Старший менеджер
      a(href="#linka").btn Показать всех сотрудников
  .b-company
    img.bg-img.b-company__bg-img(src='img/bg__company.png')
    .container
      .section-header
        h2.section-title Компания в цифрах
        .section-desc Описание зерновозов и вместимости в зависимости от вида продукции
      .b-company__num-main
        b 500000
          span  тонн
        .upper-text Зерновых культур перевезено в 2016 г
      .b-company__num-list
        .b-company__num
          b.js-num(data-digits='47553') 0
          .text_size_xs Привлеченных вагонов в опрерировании
        .b-company__num
          b.js-num(data-digits='7') 0
          .text_size_xs В среденем за столько дней мы ставим вагоны
        .b-company__num
          b.js-num(data-digits='293') 0
          .text_size_xs ЖД станции с которыми мы работаем
        .b-company__num
          b
            .js-num(data-digits='2600') 0
            span +
          .text_size_xs Столько новых направлений мы считаем ежемесячно
      a(href="#linka").btn Узнать подробнее о компании
  .b-consult
    .container
      .section-title.title_under Остались вопросы?
      .b-consult__desc наши профессионалы, абсолютно бесплатно и подробно могут  помочь вам по любым темам, связанным с международной логистикой
      button.js-consult.btn.btn_white Заказать консультацию
      .b-consult__girl
  .b-contacts
    #map-ekb-index
    .b-contacts__container
      .b-contacts__window
        b.text_size_m.title_under контакты
        b Адрес
        .b-contacts__window-address 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02
        b Телефоны
        .text_size_xs Москва +7 499 348 13 20
        .text_size_xs Екатеринбург +7 343 351 76 80
        .text_size_xs Казахстан (Алматы) +7(727)350 81 02
        a(href="#l").btn Выписка ЕГРЮЛ
        a(href="#l").btn Реквизиты
// FANCY MODALS
// consulting
include modal-consulting
// reviews
div(style='display:none')#review-1
  img(src='img/review-big.jpeg')
div(style='display:none')#review-2
  img(src='img/review-big-2.jpeg')

// GOOGLE MAPS
script(src='static/js/g-maps.js')
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')