div(style='display:none')#consulting
  form.consulting-form
    h3 Заказать консультацию
    .consulting-form__col
      label.page-form__label
        span ФИО
          sup *
        input.page-form__input(type='text', data-req='req')
      label.page-form__label
        span Ваш E-mail
          sup *
        input.page-form__input(type='email', data-type='email', data-req='req')
      label.page-form__label
        span Ваш телефон
          sup *
        input.page-form__input(type='tel',  data-type='tel', data-req='req')
    .consulting-form__col
      label.page-form__label
        span Ваше сообщение
          sup *
        textarea(rows='7', data-type='text', data-req='req').page-form__textarea
    .form__row <sup>*</sup> — поля обязательные для заполнения
    input#cb-2.checkbox.checkbox_front(type='checkbox' checked)
    label.page-form__label_dark.page-form__check(for='cb-2')
      | Согласен на обработку 
      a.link.link_dark(href='#') персональных данных
    .page-form__error
      input(type='submit' value="Отправить").btn
      .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
    