.paginator
  ul.paginator__list
    li.paginator__item.paginator__item_prev
      a.paginator__link(href='#prev') Назад
    li.paginator__item.paginator__item_current
      span 1
    li.paginator__item
      a.paginator__link(href='#page') 2
    li.paginator__item
      a.paginator__link(href='#page') 3
    li.paginator__item
      a.paginator__link(href='#page') 4
    li.paginator__item
      a.paginator__link(href='#page') 5
    li.paginator__item
      a.paginator__link(href='#page') 6
    li.paginator__item
      span ...
    li.paginator__item
      a.paginator__link(href='#page') 99
    li.paginator__item.paginator__item_next
      a.paginator__link(href='#next') Вперед