.page
  .page__header.page-service__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
      a(href="#l").breadcrumbs__item Услуги
    h1.page__title Вагоны-зерновозы
  .container
    .page__sidebar
      .sidebar-menu.sidebar-col
        h3.sidebar-menu__title
          a(href="#l").sidebar-menu__title Услуги
          .accordion__toggle.accordion__toggle_active.sidebar-menu__toggle
        ul.sidebar-menu__list
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link.sidebar-menu__link_current Вагоны-зерновозы
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Крытые вагоны
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Оплата жд тарифа
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Услуги грузоотправителя
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Найти закуп / сбыт зерновых
      .sidebar-col.sidebar-col_light.sidebar-col_hidden
        img(src="img/mironov.png").sidebar-col__img-o
        b.page__text Микронов Иван Николаевич
        .page__text Менеджер<br>по продажам
        .page__text +7 343 351 76<br>
          a(href="#").link.link_dark sale@vagonom.ru
    .page__content
      img(src="img/usluga-thumb.png").page__thumb
      .page__text Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений.
      .page__text Таким образом консультация с широким активом влечет за собой процесс модернизации систем массового участия.
      form.page-form
        div
          label.page-form__label
            span Ваше имя
              sup *
            input(type="text" data-req="req").page-form__input
          label.page-form__label
            span Ваш E-mail
              sup *
            input(type="email" data-req="req" data-type="email").page-form__input
        input(type='checkbox'  id='cb-2').checkbox.checkbox_front
        label(for='cb-2').page-form__label_dark.page-form__check Согласен на обработку 
          a(href="#").link.link_dark персональных данных
        .page-form__error
          input(type='submit' value="Оставить заявку").btn
          .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
      .b-statistics
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="13753") 999
          .b-statistics__item-text вагона зерновоза
          .page__text в оперировании
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="7") 0
          .b-statistics__item-text дней
          .page__text средний срок поставки вагонов
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="17") 0
          .b-statistics__item-text минут
          .page__text максимальный срок расчета ставки
      h2 H2 — Заголовок второго уровня, условный текст в две строки, чтобы показать межстрочный интервал
      .page__text Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
      .page__text Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль.
      img(src="img/usluga-img.png")
      .page__text Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.