.page.page-services
  .page__header.page-services__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1.page__title Наши услуги
  .page-services__desc.text_size_s.centered Глубоко зная рынок, мы оказываем все необходимые услуги,<br>которые позволяют Вам осуществить перевозку наиболее эффектно
  .page-services__list
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-1.png')
        .b-desc
          .b-desc__title Вагоны-зерновозы
          .b-desc__text Привлеченный парк зерновозов более 24 000 единиц.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-2.png')
        .b-desc
          .b-desc__title Крытые вагоны
          .b-desc__text Вагоны крытой конструкции, предохраняющие грузы от порчи.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-3.png')
        .b-desc
          .b-desc__title Оплата жд тарифа
          .b-desc__text Для наших партнеров — без комиссии.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-4.png')
        .b-desc
          .b-desc__title Услуги грузоотправителя
          .b-desc__text 227 станций работы в России и Казахстане.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-5.png')
        .b-desc
          .b-desc__title Найти закуп / сбыт зерновых 
          .b-desc__text Мы советуем только проверенные компании и наиболее близкие по местоположению.
          a(href='#l').btn.btn_gray Подробнее

