.page
  .page__header.page-vacancy__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Вакансии
  .container
    .page__content.page__content_first
      .page-faq__list
        .page-faq__item
          .page-faq__item-title Менеджер по продажам
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. 
              li Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. 
              li Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. 
              li Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. 
              li Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. 
              li Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. 
              li Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. 
            b Обязанности:
            ul
              li Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. 
              li Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. 
              li Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». 
            b Условия работы:
            ul
              li Ваш результат оценивается: окладной частью + % с продаж. 
              li Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). 
              li Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART 
              li 5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. 
              li Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Менеджер по продажам
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. 
              li Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. 
              li Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. 
              li Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. 
              li Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. 
              li Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. 
              li Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. 
            b Обязанности:
            ul
              li Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. 
              li Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. 
              li Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». 
            b Условия работы:
            ul
              li Ваш результат оценивается: окладной частью + % с продаж. 
              li Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). 
              li Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART 
              li 5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. 
              li Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.
        .page-faq__item
          .page-faq__item-title Название вакансии
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Водитель
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Название вакансии
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Водитель
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
    .page__sidebar
      .sidebar-col.sidebar-col_light
        h3 Отправить резюме
        form
          .form__row <sup>*</sup> — поля обязательные для заполнения
          label.page-form__label
            span Ваше имя
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Интересующая должность
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Ваш E-mail
              sup *
            input.page-form__input(type='email', data-req='req')
          label.page-form__label
            span Телефон
              sup *
            input.page-form__input(type='tel', data-req='req')
          label.page-form__label
            span Сообщение
            textarea(rows='2').page-form__textarea
          .form__row
            a.link.link_attached.js-add-file(href='#l')
              i.fa.fa-paperclip.fa-flip-horizontal(aria-hidden='true')
              span Прикрепить файл с резюме
          input#cb-2.checkbox.checkbox_front(type='checkbox' checked)
          label.page-form__label_dark.page-form__check(for='cb-2')
            | Согласен на обработку 
            a.link.link_dark(href='#') персональных данных
          .page-form__error
            input(type='submit' value="Отправить").btn
            .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
    .paginator.paginator_in_container
      ul.paginator__list
        li.paginator__item.paginator__item_prev
          a.paginator__link(href='#prev') Назад
        li.paginator__item.paginator__item_current
          span 1
        li.paginator__item
          a.paginator__link(href='#page') 2
        li.paginator__item
          a.paginator__link(href='#page') 3
        li.paginator__item
          a.paginator__link(href='#page') 4
        li.paginator__item
          a.paginator__link(href='#page') 5
        li.paginator__item
          a.paginator__link(href='#page') 6
        li.paginator__item
          span ...
        li.paginator__item
          a.paginator__link(href='#page') 99
        li.paginator__item.paginator__item_next
          a.paginator__link(href='#next') Вперед