/*  FONTS
------------------------*/
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-Regular.eot');
  src: url('fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTSans-Regular.woff2') format('woff2'),
    url('fonts/PTSans-Regular.woff') format('woff'),
    url('fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-Bold.eot');
  src: url('fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTSans-Bold.woff2') format('woff2'),
    url('fonts/PTSans-Bold.woff') format('woff'),
    url('fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

/*  TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  margin: 0;
  font-size: 0;
  font-family: $pts;
}


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

.centered {
  text-align: center;
}

/* ELEMENTS */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.section {
  &-header {
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 65px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 24.5px);
      height: 4px;
      width: 49px;
      background-color: $c-red;
    }
  }
  &-title {
    font-size: 48px;
    line-height: 56px;
    color: $c-black;
  }
  &-desc {
    margin: 0 auto;
    margin-top: 8px;
    max-width: 635px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: $c-black;
  }
}

.title {
  &_under {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 49px;
      height: 4px;
      background-color: $c-wh;
    }
  }
}

.link {
  display: inline-block;
  color: $c-red;
  border-bottom: 1px solid $c-red;
  &:hover {
    border-bottom-color: transparent !important;
    transition: $td;
  }
  &_dark {
    color: $c-black;
    border-bottom-color: $c-black;;
  }
  &_back {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 28px;
  }
  &_attached {
    border-bottom: transparent;
    color: #b7b7b7;
    span {
      margin-left: 10px;
      border-bottom: 1px dotted #b7b7b7;
    }
  }
  &-attachment {
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    &__remove {
      position: absolute;
      left: 0;
      top: 4px;
      width: 20px;
      height: 20px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAG1BMVEW8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLwFe8yJAAAACHRSTlMADA0UFRbD1Ee88GYAAABESURBVHjaXc/BEgAgBATQJaX//+Jq1hhyoMeBAB2IGALIcqPMl9y06XjMV6gJhFMcUGmq0Irc6ZD1fVm+ttYjtX1BcQAGwwKABTNDHAAAAABJRU5ErkJggg==) 0 50% no-repeat;
      cursor: pointer;
    }
  }
}

.strong {
  font-weight: bold;
  font-size: 30px;
  color: $c-black;
}

.small {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: $c-black;
}

.upper-text {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 0 36px;
  font-family: $pts;
  font-size: 16px;
  line-height: 36px;
  border: 2px solid $c-red;
  color: $c-wh;
  background-color: $c-red;
  cursor: pointer;
  &:hover {
    background-color: #bc0a0a;
    border-color: #bc0a0a;
    transition: $td;
  }
  &_white {
    border-color: $c-wh;
    background-color: $c-wh;
    color: $c-black;
    &:hover {
      background-color: #ebebeb;
      transition: $td;
      border-color: #ebebeb;
    }
  }
  &_gray {
    border-color: $c-gray;
    background-color: $c-gray;
    color: $c-black;
    &:hover {
      border-color: $c-red;
      transition: $td;
      color: $c-wh;
      background-color: $c-red;
    }
  }
}

.text {
  &_size {
    &_xs {
      font-size: 18px;
      line-height: 20px;
    }
    &_s {
      font-size: 21px;
      letter-spacing: 0.02em;
    }
    &_m {
      font-size: 24px;
    }
  }
}

.form {
  &__row {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  width: 100%;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-right: 40px;
}
.checkbox:not(checked) + label {
  position: relative;
}
/* чекбокс впереди front */
.checkbox_front:not(checked) + label {
  position: relative;
  padding-left: 30px;
}
/* Фоновая часть чекбоксов */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid #dcdcdc;
}
.checkbox_front:not(checked) + label:before {
  left: 0;
}
.checkbox_front:not(checked).warning + label:before {
  border-color: $c-red;
}
/* переключатели */
.checkbox:not(checked) + label:after {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  background: url(../i/ico-check_red.png) no-repeat 50%;
}

// для чекбокса вначале
.checkbox_front:not(checked) + label:after {
  left: 0px;
}
.checkbox:checked + label:after {
  display: inline-block;
}

// Dist
.bg-img {
  
}
input {
  &.warning {
    border: 1px solid $c-red;
    transition: $td;
  }
}

.ico {
  &-phone {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAACd0lEQVQ4jZXVXYiVdRAG8N85K1HC8cLU6CTeWCSCRShp6oWEEghpGGiKHwgKQSCs1F3dFLnazZZSGuWdZvmVpBJEfpuIJCkamorRYkJg4rrmhZbbxcyLr4d3V3ZuzvvO/5nnzH/mmXlrXc2mAdgbWI+j2ILtuFMFrJeeH8cnCX6pD+I9eAt/5R/8jgX9ETdxDC/jXxzEaxX4W/gKyzASn+NLbMVjrcTDsR/XMFVc9318g9l9ZA49iXsRE/AjBpeJ1+IfzER3+j/EB5nJKyWyDlwVZXg6fWdF6UZgcwGsdTWbt7EQOyuyWpNnI9GLYaJES/ECVmJDYsfgFyzHprqoTbdq+xVD3O/FNVHTqUm6Fm/m2XmsymQeqeOP0rXKNj2v3IH/Ws56M9N2dJbiO9HAvLpo3MyWwEnYncSr+rgNfIbTeDvfb2FbQfx1Eo8qBYzO345+SIvMv8Cskm8fJre1NxqXMRdP4vs8PIdFeBbfPYS8S/TgUL5fxNlajvQcMaLjcCEBk3AEK0RJBmRFt79Nko1oS9/xJF2H1/uIfxS1/oh7hf7G4b3S+fp83yIUUJC0icb14E/MaCVua280iucbQouf4hR+S/9RsXQ68Rx+StJZmC+U8DFO4lIVsSS+I4R/ApfTf1I0drkY96cyy8P4IUuyrkw+qKI8q4XId2Ox0CX8jOfxqtgPl0ox74py7sJEnGrNuLD9uCumq5bXv5fB53G9IuYApuAZ7KlXAAr7SKhhhVDM2H6w8IRYRFd48AtSZbuEUv7GGSHHqr0yXExc0WS1AXzzpou9MT5J9ophGioW/vXEdA+UuLCJWIJpYqf0YAfewc0C9D8MvJnvLWVtXgAAAABJRU5ErkJggg==);
  }
  &-address {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXCAYAAADtNKTnAAACKUlEQVQ4jY3US4iOYRQH8N/3ziyMSwkx86mpITZm9kq5lA1KKffVyCU204jCxIzBTEmTW6I0G4mycAsLaxFZIRuiplwzImrMwmXxnNf3eZuvnM3b8z/P+b/nOed/TmmoXFawidiKlWjDVAzjGW7gPL5XB5QKJBswgEm4iUf4iOlYgGX4hl24nAfVVxF0oxeD2ItPhQxPYhqO4hLmxv2/JBsD2IkTgTViBWbgA27jPTbjKY7jBS6VhsrliXiJW9iCErqwH7/xDk2BH0F/4INYjjkZ2qOYXZHBvsiqN4o6O745tq/q3iS0l4bK5bv4grWYGVkdjLcXbU/4ZkWGVzA5wzw8jEsr8BOnxiAQ+K94hohrzaSKDwc4M4o3UoNkJDJojPMwpmZSK5sDfBMXGmqQNIT/fZyb8SnDAywO8Dbq0FGDpCP8d+K8BPczXMei+MMbHEafJLg8o4Y494X/XTx9Ia6Vhsrl8RE8IOkg10m3VORcJ3U4pKKTfmnGmvPZ6cM2tKgMV5PUhaYguhNfmIzXUrd6cpIpeCXNR0+NelRbP7ZLevmSBfhZmoXdKp2qZS3SjB2TRPrPKhiH53gsqbeWXUWrtGtGIaty/kAn1mB9DYLVWCW1ejQHi0sJLkrLpw1vq/AZeCIVeFN1QHUmuXVI8h6U2k1q74XAO4sBY5F8lp6zVNopcFpS9Tp8LQbUF4Gwe5HRGcyX9LJDZdr/iwTOYgIOSIv5XK2LfwCLOIJ2d3VgYwAAAABJRU5ErkJggg==);
  }
}

.js-num {
  display: inline-block;
}

// IDs
#map-ekb {
  width: 100%;
  height: 700px;
}
#map-ekb-index {
  width: 100%;
  height: 485px;
}
#geo-map {
  width: 100%;
  height: 666px;
}