html,
body {
  background: #ffffff;
  font-family: $pts;
  position: relative;
  overflow-x: hidden;
  font-size:0;
}


// COMMON
.page h1:not([class]) {
  max-width: 1025px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: $c-black;
}
.page h2:not([class]) {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 55px;
}
.page h3:not([class]) {
  font-size: 36px;
  color: $c-black;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page a:not([class]) {
  color: $c-red;
  border-bottom: 1px solid $c-red;
  &:hover {
    border-bottom-color: transparent;
    transition: $td;
  }
}
.page p:not([class]) {
  margin-bottom: 20px;
  font-family: $pts;
  font-size: 21px;
  line-height: 29px;
  color: $c-black;
  
}
.page ul:not([class]) {
    list-style: none;
    margin: 12px 0;
  text-align: left;
  }
  * + ul:not([class]){
    margin-top:-6px;
  }
.page ul:not([class]) li {
  padding-left: 34px;
  position: relative;
  color: $c-black;
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}
.page ul:not([class]) li + li {
  margin-top: 22px;
}
.page ul:not([class]) li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  background-color: $c-red;
}
.page ol:not([class]) {
  list-style: none;
  margin: 15px 0;
  counter-reset: myCounter;
}
* + ol:not([class]){
  margin-top:-6px;
}
.page ol:not([class]) li {
  padding-left: 41px;
  position: relative;
  color: $c-black;
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}
.page ol:not([class]) li + li {
  margin-top: 12px;
}
.page ol:not([class]) li:before{
  counter-increment: myCounter;
  content:counter(myCounter)".";
  position: absolute;
  left:0;
  top:0;
  width: 30px;
  text-align: left;
  color: $c-red;
  font-size: 21px;
  font-weight: bold;
}
.page li:not([class]) {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: $c-black;
}
.page ul:not([class]) li > ul {
  li {
    &::before {
      content: none;
    }
    &:first-child {
      margin-top: 22px;
    }
  }
}
.page .container img:not([class]) {
  width: 100%;
  height: auto;
}
.page figure:not([class]) {
  margin: 30px 0;
  & > img:not([class]) {
    margin-bottom: 20px;
  }
}
.page figcaption:not([class]) {
  font-size: 21px;
  letter-spacing: 0.02em;
  color: #a3a3a3;
}
form sup {
  color: $c-red;
}
button {
  outline: none;
}