.footer {
  &__nav {
    background-color: #f9f9f9;
  }
  &__bottom {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  &__col {
    &-first {
      vertical-align: top;
      display: inline-block;
      margin-right: 135px;
    }
    &-contacts {
      vertical-align: top;
      display: inline-block;
      p {
        font-size: 14px;
        line-height: 22px;
        color: $c-black;
      }
    }
    &-sitedev {
      vertical-align: top;
      display: inline-block;
      margin-right: 94px;
      float: right;
    }
  }
}

.cr {
  margin-bottom: 12px;
  font-size: 14px;
}

.m-version {
  padding: 0 20px;
  display: inline-block;
  font-size: 14px;
  line-height: 48px;
  background-color: #f9f9f9;
  color: $c-black;
  i {
    margin-right: 8px;
    position: relative;
    bottom: -4px;
    font-size: 24px;
  }
  span {
    border-bottom: 1px solid;
    line-height: 48px;
  }
  &:hover {
    color: $c-red;
    transition: $td;
  }
}

.menu-bar {
  text-align: justify;
  font-size: 0;
  &__item {
    display: inline-block;
    text-align: left;
  }
  &__helper {
    width: 100%;
    height: 0;
    visibility: hidden;
    display: inline-block;
  }
  &__link {
    border-bottom: 1px solid transparent;
    font-size: 14px;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $c-black;
    &:hover {
      border-bottom: 1px solid $c-black;
      transition: $td;
    }
    &_current {
      opacity: .5;
    }
  }
}
