/* MEDIA Q */
@media (max-width: 1240px) {
  .header {
    &__trigger {
      right: 25px;
      max-width: 180px;
      line-height: 30px;
      text-align: center;
      .tel {
        font-size: 22px;
        margin-right: 0;
      }
      .btn {
        border: none;
        background: none;
        color: $c-red;
        line-height: 20px;
        text-decoration: underline;
      }
    }
  }
  .page {
    &__content {
      &_first {
        & + .page__sidebar {
          right: 20px;
        }
      }
    }
  }
  .product-item {
    margin: 0 15px;
  }
  .b-team {
    &__item {
      margin-bottom: 30px;
    }
  }
  .work {
    &-step {
      
    }
    &-steps {
      &__item {
        &-2 {
          left: 32%;
        }
        &-5 {
          right: 5%;
        }
        &-6 {
          right: 30%;
        }
        &-7 {
          left: 30%;
        }
        &-8 {
          left: 5%;
        }
        &-9 {
          left: 3%;
        }
        &-12 {
          left: 52%;
        }
      }
    }
  }
  .main-crsl {
    &__item {
      padding-top: 325px;
    }
    &__title {
      font-size: 65px;
    }
    &__desc {
      font-size: 40px;
    }
  }
  .paginator {
    margin-left: 45px;
  }
}

@media (max-width: 1025px) {
  .slogan {
    display: none;
  }
  .page {
    &__sidebar + .page__content {
      width: calc(100% - 285px);
      margin-left: 285px;
    }
    &__content {
      margin-left: 285px;
      &_first {
        margin-left: 0;
        width: 100%;
        & + .page__sidebar {
          margin-top: 0;
          margin-bottom: 40px;
          width: 100%;
          position: relative;
          right: auto;
        }
      }
    }
    &__thumb {
      margin-left: 20px;
    }
  }
  .paginator {
    text-align: center;
  }
  .main-crsl {
    &__item {
      padding-top: 300px;
    }
  }
  .b-company {
    background-size: cover;
    &__num {
      text-align: center;
      &-list {
        text-align: center;
      }
    }
    & .b-company__bg-img {
      min-height: 1000px;
    }
  }
  .main-crsl {
    &__item {
      padding-top: 350px;
    }
    &__title {
      font-size: 55px;
    }
    &__desc {
      font-size: 35px;
    }
  }
  .b-consult {
    &__girl {
      right: 0;
    }
    &__desc {
      max-width: 300px;
      line-height: 22px;
    }
  }
  .advantage {
    &__container {
      padding: 0 20px;
    }
  }
  .work {
    &-step {
      
    }
    &-steps {
      
    }
  }
  .footer {
    &__col {
      &-first {
        margin-right: 20px;
      }
      &-sitedev {
        margin-right: 0;
      }
      &-contacts {
        max-width: 370px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  .work-steps {
    &__item {
      &-11 {
        left: 180px;
      }
      &-11 {
        left: 330px;
      }
      &-4,
      &-5,
      &-6,
      &-13,
      &-14 {
        .work-step__content {
          right: 12px;
          left: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    width: 100%;
    left: -100%;
  }
  .page {
    h1:not([class]) {
      font-size: 45px;
    }
    h2:not([class]) {
      font-size: 38px;
      line-height: 50px;
    }
    &__title {
      font-size: 50px;
    }
    &__sidebar {
      margin-top: 25px;
      position: relative;
      width: 100%;
      & + .page__content {
        width: 100%;
        margin-left: 0;
      }
    }
    &__content {
      margin-left: 0;
      padding: 30px 0;
    }
    &__thumb {
      display: none;
    }
    &-form {
      padding: 40px;
    }
  }
  .sidebar {
    &-col {
      &_hidden {
        display: none;
      }
    }
  }
  .b-statistics {
    text-align: center;
    &__item {
      margin: 10px;
    }
  }
  .b-company {
    & > .container {
      padding-top: 0;
    }
    .section-header {
      margin-bottom: 45px;
    }
    &__num-main {
      margin-bottom: 40px;
      b {
        line-height: 65px;
      }
    }
  }
  .header {
    &__trigger {
      display: none;
    }
    &__logo {
      float: right;
    }
  }
  .header .logo {
    &__desc {
      display: none;
    }
  }
  .section {
    &-header {
      padding: 70px 15px 20px;
    }
  }
  .menu-toggle {
    left: 25px;
  }
  .main-crsl {
    &__item {
      padding-top: 250px;
    }
    &__title {
      font-size: 45px;
    }
    &__desc {
      font-size: 25px;
    }
  }
  .crsl-bar {
    padding: 0 100px;
  }
  .b-arrow {
    margin: 30px;
    &:last-child {
      margin: 30px;
    }
  }
  .advantage {
    &__img {
      margin-right: 20px;
    }
  }
  .b-consult {
    .title_under {
      margin-bottom: 80px;
    }
  }
  .work-step {
    display: inline-block;
    &__content {
      top: 30px;
      left: -10px;
    }
  }
  .work-steps {
    background-image: none;
    .container {
      height: auto;
    }
    &__item {
      position: relative;
      width: 90%;
      margin: 10px;
      margin-bottom: 90px;
      left: 0;
      top: auto;
      bottom: auto;
      &-5 {
        .work-step__title {
          top: -50px;
          left: calc(50% - 125px);
        }
      }
      &-9 {
        .work-step__title {
          top: -50px;
          left: calc(50% - 125px);
        }
      }
      &-10 {
        .work-step__title {
          top: -50px;
        }
      }
      &-11 {
        .work-step__title {
          top: -50px;
        }
      }
      &-13 {
        .work-step__title {
          top: -50px;
        }
      }
    }
  }
  .b-contacts {
    &__container {
      left: 0;
      right: 0;
      text-align: center;
    }
    &__window {
      margin-right: 0;
      width: 460px;
    }
    & > .container {
      text-align: center;
    }
  }
  .page {
    & > .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &-services {
      &__list {
        .b-desc {
          max-width: none;
        }
      }
      &__item {
        text-align: center;
        &-img {
          margin-right: 0;
          width: 100%;
        }
      }
    }
    &-contacts {
      &__form {
        padding: 35px;
      }
      & > .container {
        padding: 40px 0;
        text-align: center;
      }
    }
    &-404 {
      h3:not([class]) {
        margin-left: 30px;
      }
      .container > ul:not([class]) {
        margin-left: 30px;
      }
    }
  }
  .infoblock {
    display: inline-block;
    margin: 0 20px;
    padding: 35px;
  }
  .paginator {
    margin-left: 0;
    &__item {
      &_prev {
        left: -45px;
      }
      &_next {
        right: -45px;
      }
    }
  }
  .consulting-form {
    max-width: 460px;
  }
  .header-big {
    .header-big__btn-start {
      display: none;
    }
    .header__logo {
      float:none;
    }
  }
  .footer {
    &__col {
      &-first {
        margin-right: 40px;
        margin-bottom: 20px;
      }
      &-sitedev {
        float: none;
        display: block;
        margin-bottom: 20px;
      }
      &-contacts {
        max-width: 370px;
        margin-bottom: 20px;
      }
    }
  }
  .fancybox-close-small {
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}