// PAGES
.page {
  & > .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__header {
    padding-top: 150px;
    padding-bottom: 10px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    max-width: 820px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    font-family: $pts;
    font-size: 60px;
    font-weight: bold;
    color: $c-black;
  }
  &__text {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    color: $c-black;
    letter-spacing: 0.02em;
  }
  &__content {
    min-height: 585px;
    display: inline-block;
    img:not([class]) {
      margin: 20px 0;
      width: 100%;
    }
    &_first {
      width: calc(100% - 443px);
      & + .page__sidebar {
        right: 0;
        width: 390px;
      }
    }
  }
  &__sidebar {
    margin-top: 60px;
    width: 255px;
    position: absolute;
    top: 0;
    & + .page__content {
      margin-left: 315px;
      width: calc(100% - 315px);
    }
    .page-form {
      &__label {
        width: 100%;
      }
    }
    h3:not([class]) {
      margin-top: 0;
    }
    input[type="submit"] {
      padding: 0 30px;
    }
  }
  &-form {
    margin: 40px 0;
    padding: 58px;
    border-radius: 4px;
    background: #f5f5f5;
    &__error {
      position: relative;
      display: inline-block;
      &-text {
        display: none;
        position: absolute;
        width: 190px;
        top: 0;
        right: -200px;
        font-size: 13px;
        line-height: 20px;
        color: $c-red;
        &_active {
          display: block;
        }
      }
    }
    &__check {
      margin-bottom: 24px;
    }
    &__label {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 20px;
      width: 360px;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #b2b2b2;
      &:last-child {
        margin-right: 0;
      }
      span {
        display: inline-block;
        width: 100%;
      }
      &_dark {
        color: $c-black;
      }
    }
    &__input {
      width: 100%;
      padding: 0 20px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      line-height: 44px;
      font-size: 20px;
      color: $c-black;
      background: $c-wh;
    }
    &__textarea {
      width: 100%;
      padding: 0 20px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      line-height: 33.9px;
      font-size: 20px;
      color: $c-black;
      background: $c-wh;
      resize: none;
      &.warning {
        border-color: $c-red;
      }
    }
  }
  &__thumb {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  &-service {
    &__header {
      background-image: url(../../img/bg__page-service.png);
    }
  }
  &-services {
    &__header {
      background-image: url(../../img/bg__page-services.png);
    }
    &__desc {
      padding: 60px 0 45px;
      line-height: 25px;
      color: $c-black;
      letter-spacing: 0.02em;
    }
    &__list {
      margin-bottom: 80px;
      .b-desc {
        max-width: calc(100% - 320px);
      }
    }
    &__item {
      padding: 30px 0;
      border-top: 1px solid $c-gray;
      &:last-child {
        border-bottom: 1px solid $c-gray;
      }
      &-img {
        width: 255px;
        display: inline-block;
        margin-right: 60px;
        text-align: center;
      }
      .btn {
        padding: 0 25px;
      }
    }
  }
  &-article {
    &__thumb {
      margin: 10px 0 35px;
      
      max-width: 885px;
      figcaption {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
  &-articles {
    &__header {
      background-image: url(../../img/bg__articles.png);
    }
    &__list {
      width: calc(100% + 60px);
      margin-left: -60px;
      text-align: center;
    }
    &__item {
      width: 255px;
      margin-left: 60px;
      margin-bottom: 60px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      &-thumb {
        margin-bottom: 26px;
        overflow: hidden;
        img {
          transition: .8s all;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      &-date {
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #b2b2b2;
      }
      &-title {
        margin-bottom: 13px;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        color: $c-black;
      }
      &-desc {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $c-black;
      }
      .link {
        font-size: 20px;
        font-weight: bold;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: $c-black;
        border-bottom: 1px solid $c-black;
      }
      &:hover {
        .link {
          transition: $td;
          border-bottom-color: transparent;
          color: #b2b2b2;
        }
        .page-articles__item-thumb {
          img {
            transition: .8s all;
            transform: scale(1.3);
          }
        }
      }
    }
  }
  &-contacts {
    position: relative;
    &__header {
      background-image: url(../../img/bg__contacts.png);
    }
    &__form {
      padding: 60px;
      display: inline-block;
      max-width: 560px;
      border-radius: 4px;
      background: #f5f5f5;
      text-align: left;
      h3:not([class]) {
        margin-top: 0;
      }
      .page-form__label {
        margin-right: 0;
        width: 100%;
      }
    }
    &__infoblock {
      max-width: 560px;
    }
    &__bg-img {
      width: 100%;
      min-height: 700px;
    }
    & > .container {
      padding-top: 70px;
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }
  }
  &-404 {
    .container {
      max-width: 800px;
      padding-top: 170px !important;
      text-align: center;
      & > ul:not([class]) {
        margin-left: 170px;
      }
    }
    &__thumb {
      img {
        width: 100%;
      }
    }
    h2:not([class]) {
      margin-top: -20px;
    }
    h3:not([class]) {
      margin-top: 50px;
      margin-left: 145px;
      text-align: left;
    }
    ul {
      a:not([class]) {
        border-bottom-color: transparent;
        color: $c-black;
        &:hover {
          border-bottom-color: $c-red;
          color: $c-red;
        }
      }
    }
    ul:not([class]) li {
      & > ul {
        li:first-child {
          margin-top: 12px;
        }
      }
      & + li {
        margin-top: 12px;
      }
    }
  }
  &-faq {
    &__header {
      background-image: url(../../img/bg__faq.png);
    }
    &__list {
      margin-bottom: 40px;
    }
    &__item {
      margin-bottom: 10px;
      position: relative;
      padding: 30px;
      border: 1px solid #dfdfdf;
      &_active {
        .page-faq__item-content {
          display: block;
          margin-top: 30px;
          padding-top: 30px;
          border-top: 1px solid #dfdfdf;
        }
        .page-faq__item-toggle {
          &::after {
            background: $c-red;
            transform: rotate(-45deg);
          }
          &::before {
            background: $c-red;
            transform: rotate(45deg);
          }
        }
      }
      &-title {
        width: calc(100% - 60px);
        font-size: 20px;
        font-weight: bold;
      }
      &-content {
        display: none;
        font-size: 20px;
        line-height: 28px;
        b {
          font-size: 21px;
          line-height: 28px;
          letter-spacing: 0.02em;
          color: #bcbcbc;
        }
      }
      &-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &::after,
        &::before {
          content: '';
          position: absolute;
          top: 19px;
          left: 11px;
          width: 20px;
          height: 2px;
          display: inline-block;
          background: $c-black;
          transition: $td;
        }
        &::after {
          transform: rotate(90deg)
        }
      }
    }
  }
  &-vacancy {
    &__header {
      background-image: url(../../img/bg__vacancy.png);
    }
  }
}

.sidebar {
  &-col {
    margin-bottom: 10px;
    padding: 45px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    &_light {
      border-color: #f5f5f5;
      background: #f5f5f5;
    }
    &__img {
      &-o {
        margin-bottom: 20px;
      }
    }
    & > .page__text {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-menu {
    &__title {
      position: relative;
      font-size: 30px;
      font-weight: bold;
      color: $c-black;
    }
    &__list {
      margin-top: 20px;
    }
    &__item {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      border-bottom: 1px solid transparent;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: $c-black;
      &_current {
        color: #b2b2b2;
        cursor: default;
      }
      &:hover {
        border-bottom: 1px solid $c-black;
        transition: $td;
      }
    }
    &__toggle {
      top: 5px;
      right: 35px;
    }
  }
}

.infoblock {
  padding: 58px;
  border-radius: 4px;
  text-align: left;
  background: rgba(255, 255, 255, .8);
  &__row {
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    &-content {
      margin-bottom: 12px;
      margin-left: 70px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: $c-black;
    }
    &-ico {
      float: left;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background-color: #f5f5f5;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  h3:not([class]) {
    margin-top: 0;
    margin-bottom: 35px;
  }
}

.accordion__toggle {
  position: absolute;
  width: 32px;
  height: 22px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAKCAYAAABSfLWiAAAApUlEQVQokY3SsQnCQBQG4C+aUhCcwtYJbLQUXELEykK0cgN7tRBcQkjjDrYOoXaCnRZeICQhyd8c7zg++B8XJUmiIn1sMcURa3zzj+IKYIAremFeoYNFHmo1BNLMcUBUh+SBF85VUL5OGTDCDQ//naQQoVrcEIBNOAtQitQBacqgTytUujQAstAuM89itNENF0+MK4As9MYS+yh8tiEmOOFeAxTyAzs0Kr8ZeNUSAAAAAElFTkSuQmCC) no-repeat center;
  cursor: pointer;
  transform: rotate(180deg);
  transition: $td;
  &_active {
    transform: rotate(0);
  }
}

.breadcrumbs {
  text-align: center;
  &__item {
    margin-right: 30px;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    color: $c-black;
    font-size: 15px;
    letter-spacing: 0.02em;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: -18px;
      width: 6px;
      height: 11px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAMAAABrjAykAAAABlBMVEUYGBgYGBgMnWjNAAAAAnRSTlMAgJsrThgAAAAQSURBVAjXY2BkgADiaPwkAAH3AAypa/cPAAAAAElFTkSuQmCC);
    }
    &:hover {
      border-bottom-color: transparent;
      transition: $td;
    }
  }
}

.b-desc {
  display: inline-block;
  vertical-align: top;
  &__title {
    margin: 15px 0;
    font-weight: bold;
    color: $c-black;
    font-size: 30px;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: $c-black;
  }
}

.b-statistics {
  border-radius: 4px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.3);
  padding: 45px 50px 10px;
  margin-bottom: 20px;
  &__item {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin-right: 85px;
    &:last-child {
      margin-right: 0;
    }
    &-title {
      font-size: 60px;
      font-weight: bold;
      color: $c-red;
    }
    &-text {
      font-size: 24px;
      font-weight: bold;
      color: $c-red;
    }
  }
}

.paginator {
  margin-top: 10px;
  &_in {
    &_container {
      margin-left: 45px;
    }
  }
  &__list {
    position: relative;
    display: inline-block;
  }
  &__item {
    width: 41px;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: $c-black;
    &_current {
      background: #ebebeb;
      border-bottom: none;
    }
    &_next,
    &_prev {
      position: absolute;
      width: 41px;
      height: 41px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAhCAYAAADUIPtUAAAB7ElEQVRIiZ3WTYhNYRgA4OfO1ZTpMiWau7BA42dhUiRic/M7fiYlKcrGgoWwsmdtdrOQlAULJZG/KD/Z+EkmCxsRFqY0BlFIaozF996crvm53303p/c95z7nvN/3ne/cUrVahf1YjYMY00JMix+fQgm/cKQVqA2rAoHDONkKVK5UKjewGEujtibgB7nQGK6iB0uiXsMPPMqB4A+uYCW649wmfMHTHAhGA1uLeVHrxRCeTwW1NeQ/0YfHkZdwGntzIfiOLRisPzXOYWcuBN+ktl4UsAvYmgvBJ2zEq8jbcQnrciEYxnq8jXw6rksTkgWRZm1DHKEDN6WlkgXBO6ml4cg7cVtaxFkQvJbGbCTyWbgn3oYciDSLvdKswhzcQXdxZTcbH/AV2yOfiWWl2NhyYoXUUmfkQ6jlttYjDXIdGZHG7U0OtEgaj9mRf5bW2EuaH+wFUjtdkTe+Qk1Bc3E3jqQdYhueFS+aCurCfcwvIH142HjhZFB9jSyM/Dd2BfxfTAQ1vgKj2INbE911PGhGIMsLyD5cnvDZx4E6cE366pK+ugekTW3SKELtcddaoXYUZ6dCilA7LmJz4dwxDDSD1KEyzmNHoX4C/c0idegMdhdq/Tieg9ShJ/79lRmQWsqOcqVSGcR7fMShVhD4C31bXaN0+WzZAAAAAElFTkSuQmCC) no-repeat center;
      opacity: .5;
      &:hover {
        opacity: 1;
        transition: $td;
      }
      a {
        font-size: 0;
        display: block;
        border-bottom: none;
      }
    }
    &_next {
      right: -60px;
    }
    &_prev {
      left: -60px;
      transform: rotate(180deg);
    }
  }
  &__link {
    border-bottom: 1px solid $c-black;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $c-black;
    &:hover {
      border-bottom-color: transparent;
      color: #b2b2b2;
      transition: $td;
    }
  }
}